body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8d01c;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}

h1 {
    text-align: center;
    color: white;
}

#cartItems {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f8d01c;
    /* border-radius: 8px; */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.cartItem {
    margin-bottom: 15px;
    /* padding: 15px; */
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    background-color: #f8d01c;


    
    
}

#totalAmount {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f8d01c;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}

#userDetails {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f8d01c;
    padding: 20px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    
}

label {
    display: block;
    margin-bottom: 5px;
    
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    /* box-sizing: border-box; */
    background-color: #f8d01c;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    border: none;



    
}

button {
    justify-content: space-between;
    align-items: center;
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

button:hover {
    background-color: #045049;
}


.input-container {
  position: relative;
  margin: 50px auto;
  width: 300px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}
